{% extends "base.html" %}

{% block content %}
<h2>Panel de Administrador</h2>

<p>Bienvenido al panel de administrador. Aquí puedes gestionar usuarios, permisos y ver información general de la aplicación.</p>

<!-- Enlace para gestionar usuarios -->
<form method="get" action="{% url 'gestionar_usuarios' %}">
    <button type="submit" class="admin-button">Gestionar Usuarios y Grupos</button>
</form>

<form method="get" action="{% url 'gestionar_producto' %}">
    <button type="submit" class="admin-button">Agregar o Modificar Productos</button>
</form>

<form method="get" action="{% url 'lista_productos' %}">
    <button type="submit" class="admin-button">Lista de Productos</button>
</form>

<!-- Otras funcionalidades del administrador -->
{% endblock %}
