{% extends "base.html" %}

{% block content %}
<h2>Bienvenido a Mi Aplicación</h2>

{% if user.is_authenticated %}
    <p>¡Hola, {{ user.username }}!</p>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Cerrar sesión</button>
    </form>
{% else %}
    <p>Bienvenido, por favor inicia sesión o crea una cuenta para acceder a nuestras funciones.</p>
    <a href="{% url 'login' %}" class="text-white" class="button">Iniciar sesión</a>
    <a href="{% url 'register' %}" class="text-white" class="button">Crear cuenta</a>
{% endif %}

{% endblock %}
